<header id="header" class="fixed-top d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="index.html">Ranflood</a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="/install">Install</a></li>
        <li><a class="nav-link" href="/concept">Concept</a></li>
        <li><a class="nav-link" href="/publications">Publications</a></li>
        <li><a class="nav-link" href="/team">Team & Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>